* {
    margin: 0;
}

html {
    background-color: #0868C0;
}

@font-face {
    font-family: 'Helvetica Neue Bold';
    src: url('fonts/HelveticaNeueLTPro-Bd.otf');
}

@font-face {
    font-family: 'Helvetica Neue';
    src: url('fonts/HelveticaNeueLTPro-Roman.otf');
}

p {
    font-family: 'Helvetica Neue';
}

h4 {
    font-family: 'Helvetica Neue Bold';
}

header {
    width: 100%;
}

header nav {
    padding: 0;
    list-style: none;
}

.trello {
    display: flex;
    height: 46px;
    align-items: center;
    padding: 0 10px;
    box-shadow: 5px 10px 20px -20px rgba(85, 172, 238, 1);
    color: #FFFFFF;
    background-color: #085DA9;
}

.trello li {
    cursor: pointer;
}

.trello li:hover {
    color: #6B9ECC;
}

.trello li:first-child * {
    display: inline;
}

.trello_logo {
    margin-left: auto;
    margin-right: auto;
    font-size: 1.3em;
    opacity: 0.3;
}

.trello_logo:hover {
    opacity: 0.7;
}

.trello_logo img {
    max-height: 30px;
}

.user {
    max-width: 32px;
    max-height: 32px;
}

#opciones li {
    display: inline-block;
    list-style: none;
    color: #FFFFFF;
    cursor: pointer;
}

#opciones li p {
    display: inline-block;
}

input {
    /* margin-left:1.5%; */
    /* width: 20%; */
    padding: 2%;
    /*http://border-radius.com/*/
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    border: none;
    background-color: rgba(0, 0, 0, .12);
    font-size: 14px;
    font-family: 'Helvetica Neue';
}


/*http://www.bufa.es/cambiar-color-placeholder/*/

::placeholder {
    color: #EEEEEE;
}

.formulario {
    width: 300px;
    padding: 1em;
    border-radius: 5px;
    margin: 1em;
    /* border:1px yellow solid; */
}

.botonlista {
    max-width: 6em;
    margin-left: 1em;
    margin-top: 0.5em;
    padding: 0.3em;
    border-radius: 3px;
    border: none;
    background-color: #5AAC44;
    color: #FFFFFF;
    font-weight: bold;
    font-size: 14px;
    text-align: center;
}

#row_container {
    display: flex;
    flex-direction: row;
    border: 1px crimson solid;
}

.list_panel {
    display: flex;
    flex-direction: column;
    width: 300px;
    border-radius: 5px;
    margin: 1em;
    background-color: #DEE0E2;
}

.list_panel>h4 {
    margin-left: 1em;
    margin-top: 1em;
}

.controller_panel {
    margin-left: 1em;
}

.boton_panel {
    max-width: 6em;
    margin-left: 1em;
    margin-top: 0.5em;
    padding: 0.2em;
    text-align: center;
    border-radius: 3px;
    border: none;
    background-color: #5AAC44;
    color: #FFFFFF;
    font-weight: bold;
    font-size: 14px;
}

.boton_add_tarea {
    max-width: 100%;
    margin-top: auto;
    border-radius: 0 0 5px 5px;
    cursor: pointer;
    background-color: #DEE0E2;
    min-height: 2em;
    color: rgb(109, 109, 109);
    padding: 0.5em;
    font-family: 'Helvetica Neue';
}

.boton_add_tarea:hover {
    background-color: rgb(189, 187, 187);
    border-radius: 0 0 5px 5px;
}